/* body */
body{
    font-family: 'Poppins', sans-serif;
    display: block;   
}

/* header starts */
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2D25A0;
}
.top-banner .header{
    display: flex;
    width: 100%;
}
.top-banner .header div{
    width: 485px;
    height: 230px;
    margin-top: 198px;
    margin-left: 160px;
    margin-bottom: 249px;
}
.top-banner .header h1{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
}
.top-banner .header button{
    background-color: #E02C6D;
    border: none;
    color: #FFFFFF;
    padding: 10px 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 46px;
    border-radius: 5px;  
}
button:hover {
    transform: scale(1.2);
    transition: transform 1.5s ease-in-out;
}
.fa, .fas{
    font-weight: 900;
}
.top-banner .image img{
    width: 556px;
    height: 438px;
    margin-top: 198px;
    margin-bottom: 86px;
}
.image:hover {
    transform: scale(1.1);
    transition: transform 1.5s ease-in-out;
}
/* header ends */

/* players section stylesheet */

.players {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.players .player { 
    display: flex;
    flex-direction: column;
    height: 474px;
    padding: 15px;
    box-shadow: 0 1px 50px #C0C0C0;
    border-radius: 3px;
}

.players .player img {
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}
.players .player .player-data {
    width: 300px;
    height: 154px;
}
.players .player h2{
    font-family: 'Poppins', sans-serif;
    color: #18191F;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
}
.players .player p {
    font-family: 'Poppins', sans-serif;
    color: #6C6C6C;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
/* players section closed */
/* news section start */

.news-title {
    color: #18191F;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}
.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    column-gap: 15px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}
.news .news-box {
    width: 100%;
    box-shadow: 0 1px 50px #C0C0C0;
    border: 1px solid rgba(128, 128, 128, 0.407);
    padding: 5px;
}
.news .news-box img {
    width: 100%;
    height: 55%;
    margin-bottom: 8px;
}
.news .news-box p {
    color: gray;
}

/* news section closed */

/* history section start */

.history-heading{
    color: #18191F;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}
.histories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}
.history{
    box-shadow: 0 2px 10px #C0C0C0;
    border: 2px solid lightgray;
    width: 96%;
    height: 96%;
}
.history img {
    width: 100%;
}
/* history section ends */

/* footer starts */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
footer img{
    width: 485px;
    margin-top: 40px;
    margin-bottom: 35px;
}
footer .icons{
    margin-bottom: 18px;
}
footer .icons i {
    margin: 10px;
}
footer .fa-instagram-square {
    color: #BA31AD;
}
footer .fa-dribbble-square {
    color: #E14883;
}
footer .fa-twitter {
    color: #5DA9DD;
}
footer .fa-youtube {
    color: #FF0000;
}
footer p {
    font-size: 18px;
    line-height: 24px;
    font-family: var(--myfont);
}
/* footer ends */


/* Media Queries */

@media(max-width: 900px) {

    /* top banner */

   .top-banner {
       grid-template-columns: 1fr 1fr;
   } 

   .top-banner .header div {
       width: 100%;
       height: 100px;
       margin-top: 98px;
       margin-left: 80px;
       margin-bottom: 20px;
   }

   .top-banner .header h1 {
       font-size: 24px;
       line-height: 50px;
   }

   .top-banner .header h1:hover {
       font-size: 30px;
   }

   .top-banner .image img {
    width: 100%;
    height: auto;
    margin-top: 140px;
    margin-bottom: 86px;
}

   /* Players Area */

    .players {
        grid-template-columns: 1fr 1fr;
    }

    /* Gallery and News */

    
    .histories {
        grid-template-columns: 1fr;
    }

    .histories .history .news .news-box{
        margin-bottom: 20px;
    }
    
    .news{
        grid-template-columns: 1fr 1fr;
    }

    .news .news-box {
        margin-bottom: 10px;
    }

    footer img{
        width: 80%;
    }

}

@media(max-width: 500px) {

    /* Top Banner */

   .top-banner {
       grid-template-columns: 1fr;
   } 

   .top-banner .header div {
       width: 100%;
       height: 100px;
       margin-top: 98px;
       margin-left: 80px;
       margin-bottom: 20px;
   }

   .top-banner .header h1 {
       font-size: 24px;
       line-height: 50px;
   }

   .top-banner .header h1:hover {
       font-size: 30px;
   }

   /* Players Area */

    .players {
        grid-template-columns: 1fr;
    }

    /* Gallery and news  */

    
    .histories .news {
        grid-template-columns: 1fr;
    }

    .histories .history .news .news-box{
        margin-bottom: 20px;
    }
    
    .news {
        grid-template-columns: 1fr;
    }

    .news .news-box .histories .history {
        margin-bottom: 10px;
    }

    footer img{
        width: 80%;
    }

}

/* media query ends */



